
.listTag
	display: flex
	flex-wrap: wrap
	gap: 12px

.listTagItem
	display: inline-block
	font-size: 14px
	padding: 6px 12px
	color: #2b2aaa
	background: rgb(43 42 170 / .1)
	box-shadow: 0 1px 6px rgb(17 17 17 / .06)
	backdrop-filter: blur(23.7219px)
	border-radius: 20px
	transition: all ease .3s

	&:hover
		background: none
