@import	'./../../../_constants'

.userMenuList
	border: 1px solid #eee
	list-style: none
	z-index: 500
	list-style: none
	background: white
	width: 167px
	color: $primary-color-user-menu

.logOut, .menuText
	cursor: pointer
	display: block
	padding: 10px 15px
	font-size: 16px
	color: $primary-color-user-menu
	width: auto
	text-decoration: none

	&:hover
		color: $menu-hover-color
		background: $submenu-bg-color

	&:visited
		color: red

a
	text-decoration: none
