.offersContainer
	box-sizing: border-box
	max-width: 1170px
	width: 100%
	margin: 30px auto
	padding: 0 15px

.offersListContainer
	display: flex
	flex-direction: column
	gap: 20px

.offerItem
	padding: 30px 40px
	background-color: #f9fafb
	border-radius: 10px
	color: #4e618d
	display: flex
	flex-direction: column
	gap: 7px

.offerText
	color: #556da5
	font-weight: 500
	margin-bottom: 7px

.file
	align-self: stretch
	text-decoration: underline

	&:hover
		color: #6b89b0

.btnPaginationGroup
	color: #4e618d
	display: flex
	justify-content: center
	gap: 10px
	align-items: center
	margin-top: 30px

.btnPagination
	color: #4e618d
	background: none
	border: none
	padding: 7px
	cursor: pointer

.noOffersContainer
	font-size: 26px
	font-weight: 500
	color: #4e618d
	text-align: center
