.userInfo
	display: flex
	position: relative
	color: #718888
	justify-content: center
	align-items: center
	padding: 0 15px
	border-right: 1px solid #ebebeb
	cursor: pointer
	height: 40px

	&:hover
		color: #f27e51
		.userMenu
			display: block
			z-index: 1
			position: absolute
			top: 40px

.userMenu
	display: none

.userAvatar, .menuIcon
	width: 20px
	height: 20px
	border-radius: 10px

.emailIcon
	padding: 13px 15px
	cursor: pointer
	border-right: 1px solid #ebebeb

.userName
	padding: 0
	margin-left: 5px
	border: none
	color: inherit
	font-weight: 400
	font-size: 16px

.userButtonsContainer
	align-items: center
	justify-content: center
	display: flex
	border-left: 1px solid #ebebeb
	height: 40px

.authBtn
	display: inline-block
	min-width: 55px
	text-align: center
	padding: 13px
	color: #718888
	font-weight: 400
	font-size: 14px
	border-right: 1px solid #ebebeb
